header{
    background-image: url("./Photos/background.jpg");
    width: 1720px;
    height:900px;
    margin: auto;
    color: aliceblue;

}
.header{
   text-align: center;
}
.input{
    border: solid;
    
    
 
}
button{
    background-color: rgb(4, 204, 4);
    color: aliceblue;
}
footer{
    text-align: center;
    
}
.footer{
    width: 50px;

}
body{
max-width: 1720px;
}
img{
    width: 50px;
}
.mb-3{
    margin-left: 250px;
    
}